@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Oswald:wght@400;500;600;700&display=swap"); /*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
::-moz-selection {
  color: #222222;
  background: rgba(0, 0, 0, 0.6);
}
::selection {
  color: #222222;
  background: rgba(0, 0, 0, 0.6);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: 525252;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:focus, a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #222222;
}

p {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

.scroll-top {
  width: 35px;
  height: 35px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 7px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.scroll-top img {
  height: 18px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.scroll-top:focus, .scroll-top:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------------------
  ##  Page Loader
  --------------------------------------------------------------*/
.page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*--------------------------------------------------------------
# sec-t
--------------------------------------------------------------*/
.sec-t {
  text-align: center;
  margin-bottom: 40px;
}
.sec-t h2 {
  font-size: 35px;
  font-weight: 700;
  color: #A5ECC1;
  background: linear-gradient(87.65deg, #A5ECC1 -8.44%, #00ADE3 97.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .sec-t h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 482px) {
  .sec-t h2 {
    font-size: 27px;
  }
}
.sec-t p {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .sec-t p {
    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 482px) {
  .sec-t p {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*--------------------------------------------------------------
# nav-logo
--------------------------------------------------------------*/
.nav-logo {
  text-align: start;
  padding-top: 5px;
}
.nav-logo img {
  max-height: 130px;
}
@media only screen and (max-width: 991px) {
  .nav-logo img {
    max-height: 110px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-logo img {
    max-height: 100px;
  }
}

/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/
.hero-area-new {
  padding-top: 0px;
  padding-bottom: 50px;
  background-image: url("../img/hero/hero-banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .hero-area-new {
    padding-top: 0px;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area-new {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}
.hero-area-new .hero-text h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 65px;
  color: #222222;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-area-new .hero-text h1 span {
  display: inline-block;
  background-color: #fed73a;
  line-height: 1.2;
  padding: 3px 8px 3px 8px;
}
@media only screen and (max-width: 1199px) {
  .hero-area-new .hero-text h1 {
    font-size: 54px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area-new .hero-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }
}
.hero-area-new .hero-text p {
  font-size: 23px;
  font-weight: 500;
  color: #222222;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
@media only screen and (max-width: 1199px) {
  .hero-area-new .hero-text p {
    font-size: 21px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area-new .hero-text p {
    font-size: 19px;
  }
}
.hero-area-new .hero-text p a {
  text-decoration: underline;
  display: inline-block;
  color: #222222;
}
.hero-area-new .hero-btns {
  padding-top: 20px;
}
.hero-area-new .hero-btns a {
  display: inline-block;
  text-decoration: none;
  border: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 767px) {
  .hero-area-new .hero-btns a {
    border-radius: 8px;
  }
}
.hero-area-new .hero-btns a img {
  height: 70px;
}
@media only screen and (max-width: 767px) {
  .hero-area-new .hero-btns a img {
    height: 40px;
  }
}
.hero-area-new .hero-btns a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.hero-area-new .img-prox {
  width: 100%;
  max-width: 600px;
}

/*--------------------------------------------------------------
# main-footer
--------------------------------------------------------------*/
.main-footer {
  padding: 30px 0px;
}
.main-footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 482px) {
  .main-footer .footer-flex {
    display: block;
    text-align: center;
  }
}
.main-footer .legal-text p {
  font-size: 14px;
  color: 525252;
  font-weight: 500;
}
@media only screen and (max-width: 482px) {
  .main-footer .legal-text p {
    margin-bottom: 12px;
  }
}
.main-footer .footer-social a {
  text-decoration: none;
  display: inline-block;
}
.main-footer .footer-social a img {
  height: 28px;
}