/*--------------------------------------------------------------
# main-footer
--------------------------------------------------------------*/
.main-footer{
 padding: 20px 0px;
text-align: center;
background-color: darken($color: $bg-black, $amount: 10%);
 .legal-text{
  p{
    font-size: 14px;
    color: #ccc;
    font-weight: 500;
    @media only screen and (max-width: 482px) {
     margin-bottom: 12px;
    }
  }
 }

}
