@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Oswald:wght@400;500;600;700&display=swap');


$font-family-mon: 'Montserrat', sans-serif;
$font-family-os: 'Oswald', sans-serif;



$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F3FBF9;
$bg-nav-collapse:#000;
$primary-color: #000;
$text-color: 525252;
$title-color:#222222;
$background: linear-gradient(269.21deg, #44B7E9 -62.88%, #00B695 173.99%);
